body {
  background-image: url(../resources/images/colorful.jpg);
  background-repeat: repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: #FFAA10;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-top: 3em;
}

.container {
  margin-top: 5%;
}

.flashcard-container {
  background-color: #fff;
  padding: 10% 5%;
  margin-bottom: 3em;
  border-radius: 5%;
}

.flashcard-container h3 {
  padding-bottom: 2rem;
  text-align: center;
}

.flashcard-container div {
  margin-bottom: 4em;
  width: 20rem;
  height: 20rem;
  margin: auto;
  border-radius: 50%;
}

.color-red {
  background-color: red;
}

.color-white {
  background-color: white;
  border: 1px solid black;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-orange {
  background-color: orange;
}

.color-purple {
  background-color: purple;
}

.color-pink {
  background-color: pink;
}

.mp3-player{
  width:100%;
}
